* {
  font-family: 'Roboto Condensed', sans-serif;
}

.bg-red {
  background-color: #f72210 !important;
}

.clear {
  clear: both;
}

main {
  max-width: 1280px;
}

/* TYPOGRAPHY */
h2 {
  font-size: 16px;
  font-weight: 700;
  color: lightgray;
}

h3 a {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
}

#more-stories h3 a {
  font-size: 1rem;
}

h3 a:hover {
  color: #333;
  text-decoration-color: #f72210;
}

h4 a {
  font-size: 17px;
  font-weight: 700;
  color: #333;
}

h4 a:hover {
  color: #f72210;
  text-decoration: none;
}

#opinion h4 a:hover {
  color: #f72210;
}

h5 a {
  font-weight: 100;
  font-size: 18px;
  color: #444;
}

p {
  font-size: 15px;
  color: #333;
}

#culture-travel p {
  color: #999;
}

#culture-travel h5 a {
  text-decoration: none;
  color: inherit;
}

#the-debate p a {
  font-weight: 600;
  text-decoration: none;
  color: #333;
}

/* MISCELLANEOUS */
.img-65 {
  width: 65px;
}

#deb-author1 {
  border-top: solid 4px #f72210;
}

#deb-author2 {
  border-top: solid 4px #1c87fb;
}

#opinion h4 a {
  color: #333;
  font-size: 1rem;
  line-height: 0.5rem;
}
