* {
  font-family: 'Roboto Condensed', sans-serif;
}

.bg-red {
  background-color: #f72210 !important;
}

.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

main {
  max-width: 1280px;
}

.mb-60 {
  margin-top: 20px;
}

/* --- TYPOGRAPHY --- */
h2 {
  font-size: 16px;
  font-weight: 700;
  color: lightgray;
}

h3 a {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
}

#more-stories h3 a {
  font-size: 1rem;
}

h3 a:hover {
  color: #333;
  text-decoration-color: #f72210;
}

h4 a {
  font-size: 17px;
  font-weight: 700;
  color: #333;
}

h4 a:hover {
  color: #f72210;
  text-decoration: none;
}

#opinion h4 a:hover {
  color: #f72210;
}

h5 a {
  font-weight: 100;
  font-size: 18px;
  color: #444;
}

p {
  font-size: 15px;
  color: #333;
}

#culture-travel p {
  color: #999;
}

#culture-travel h5 a {
  text-decoration: none;
  color: inherit;
}

#the-debate p a {
  font-weight: 600;
  text-decoration: none;
  color: #333;
}

/* --- NAVBAR --- */
#icon-menu {
  width: 20px;
}

#nav-logo-mob {
  width: 130px;
}

#icon-cloud {
  width: 30px;
}

#icon-search {
  width: 20px;
}

#icon-logo-nav {
  width: 400px;
}

.icon-section {
  margin-right: 15px;
}

.btn-white {
  font-weight: 700;
  background: #fff;
  color: #f72210;
}

.white-link {
  color: #fff;
  font-weight: 700;
}

#nav-links a {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

#nav-links a {
  padding: 3px 20px;
  border-right: solid 1px lightgray;
}

#nav-links a:last-child {
  border-right: none;
}

nav a:hover {
  color: #fff;
  text-decoration: none;
}

#nav-links a:hover {
  color: #f72210;
  text-decoration: none;
}

nav p {
  color: #fff;
}

#btn-sub:hover {
  color: #f72210;
}

/* --- SIGN UP --- */
#newsletter {
  max-width: 300px;
  max-height: 170px;
  border: solid 1px #e5e5e5;
  background: #f4f5f6;
}

#btn-signup-1 {
  color: #fff;
  font-weight: 700;
  background: #666;
}

#btn-signup-1:hover {
  text-decoration: none;
  background-color: #999;
}

#btn-signup-2 {
  color: #666;
  line-height: 4;
}

#btn-signup-2:hover {
  text-decoration: none;
}

/* --- MISCELLANEOUS --- */
.img-65 {
  width: 65px;
}

#deb-author1 {
  border-top: solid 4px #f72210;
}

#deb-author2 {
  border-top: solid 4px #1c87fb;
}

#opinion h4 a {
  color: #333;
  font-size: 1rem;
  line-height: 0.5rem;
}

/* --- FOOTER --- */
#logo-footer {
  width: 300px;
}

/* SECTIONS */
#magazine img {
  width: 100%;
}

#editor-pick img {
  width: 100%;
}

#slides-show img {
  width: 100%;
}
